<div style="text-align: center">
  <div style="font-size: 35px;
    font-family: cursive;
    color: yellowgreen;
"> Welcome to our shop </div>
  <img src="https://image.freepik.com/free-vector/happy-shop-logo-template_57516-57.jpg">
  <div
    style="font-size: 25px;
    font-family: cursive;
    color: yellowgreen;
"
  > Here you can see the list of products</div>
</div>


<div class="wrapper">
  <app-product *ngIf="this.bucketItems" [products]="products"
               [bucketItems]="bucketItems"
               (eventProduct)='loadProducts()'>
  </app-product>
  <div class="push"></div>
</div>
