<section class="product-list">
      <app-product [products]="products"
                   (eventProduct)='loadProducts()'>
      </app-product>


  <div>
      <label for="fname">Name</label>
      <input type="text" id="fname" name="name" placeholder="Name.." [(ngModel)]="name">

      <label for="lname">Description</label>
      <input type="text" id="lname" name="decription" placeholder="Description.." [(ngModel)]="description">

      <label for="price">Price</label>
      <input type="text" id="price" name="price" placeholder="Price.." [(ngModel)]="price">
  </div>

  <button class="button" (click)="addProduct()">
    Add product
  </button>
</section>
