<article *ngIf="!authButton.isAdmin" class="header-phone" routerLink="/"  style="display: flex;
    align-items: center;">
  <span class="material-icons">
store
</span>
  Main Page</article>
<article *ngIf="authButton.isAdmin" class="header-phone" ></article>
<section class="header-buttons">
<!--  <article class="header-account">-->
<!--    <i class="fas fa-user"></i>-->
<!--    <span class="header-text" routerLink="/">Main Page</span>-->
<!--  </article>-->
  <article class="header-wish">
    <i class="fas fa-heart"></i>
    <span *ngIf="!authButton.isAdmin" class="header-text" routerLink="/bucket"
    style="display: flex;
    align-items: center;"> <span class="material-icons">
shopping_bag
</span> Bucket</span>
  </article>
  <article class="header-login"
           style="display: flex;
    align-items: center;">
    <i class="fas fa-lock"></i>
    <span class="material-icons">
admin_panel_settings
</span>
    <span *ngIf="!authButton.isAdmin" class="header-text" routerLink="/login" routerLinkActive="active">{{authButton.name}}</span>
    <span *ngIf="authButton.isAdmin" class="header-text" (click)="logOut()">{{authButton.name}}</span>
  </article>
</section>
